<div class="header-container">
  <div class="header-hamburger-icon" (click)="toggleSidebarEventEmitter()">
    <mat-icon aria-hidden="false" aria-label="hamburger menu icon">menu</mat-icon>
  </div>

  <div class="header-logo">
    <img
      src="../../assets/images/ic_logo_header.png"
      alt="logo"
      width="130"
      height="30"
    />
  </div>
  
  <div class="header-btn-container">
    <div (click)="toggle()" class="header-login-btn-container">
      <button mat-button color="primary" class="header-btn">Oppi Admin</button>
      <mat-icon aria-hidden="false" aria-label="arrow down icon">expand_more</mat-icon>
    </div>
    <button *ngIf="showLogoutBtn" class="header-logout-btn" (click)="logout()" mat-button>Logout</button>
  </div>
</div>