<app-header (toggleSidebarEvent)="toggleSidebar($event)" [sidebarOpened]="sidebarOpened"></app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="sidebarOpened" fullscreen>
    <div [ngClass]="sidebarRowHighlighted[0] ? 'sidenav-row sidenav-row-highlighted' : 'sidenav-row'" (click)="clickRow(1)">
      <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
      <p>Poll Management</p>
    </div>
    <div [ngClass]="sidebarRowHighlighted[1] ? 'sidenav-row sidenav-row-highlighted' : 'sidenav-row'" (click)="clickRow(2)">
      <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
      <p>Create Poll</p>
    </div>
    <div [ngClass]="sidebarRowHighlighted[2] ? 'sidenav-row sidenav-row-highlighted' : 'sidenav-row'" (click)="clickRow(3)">
      <mat-icon aria-hidden="false" aria-label="people icon">supervisor_account</mat-icon>
      <p>User Management</p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <p [ngClass]="'poll-title-container'">
        <span [ngClass]="'poll-title'">{{pollResult.poll?.title}}</span>
        <span [ngClass]="'poll-status'">{{pollResult.poll?.status | uppercase}}</span>
      </p>
      <p>
        <span [ngClass]="'poll-date'">{{pollResult.poll.openedAt * 1000 | date: 'dd MMM  yyyy' || '0'}}</span>
        <span> - </span>
        <span [ngClass]="'poll-date'">{{pollResult.poll.closedAt * 1000 | date: 'dd MMM  yyyy' || '0'}}</span>
      </p>
    </div>

    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          Analytics Report
        </ng-template>

        <div [ngClass]="'poll-card-container'">
          <mat-card>
            <mat-card-title>Participants</mat-card-title>
            <mat-card-content>{{pollResult.summary?.participantCount || 0}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Active Participants</mat-card-title>
            <mat-card-content>{{pollResult.summary?.activeParticipantCount || 0}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Votes</mat-card-title>
            <mat-card-content>{{pollResult.summary?.voteCount || 0}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Seed Statements</mat-card-title>
            <mat-card-content>{{pollResult.summary?.defaultStatementCount || 0}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Total Comments</mat-card-title>
            <mat-card-content>{{pollResult.summary?.commentCount || 0}}</mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-title>Enabled Comments</mat-card-title>
            <mat-card-content>{{pollResult.summary?.userStatementCount || 0}}</mat-card-content>
          </mat-card>
        </div>

        <div>
          <mat-card [ngClass]="'opinions-container'"> 
            <div [ngClass]="'opinions-chart-container'">
              <mat-card-title>
                Opinion Groups
                <mat-icon aria-hidden="false" aria-label="info icon"  matTooltip="Click on each opinion group to see the statements that define each group. Only active participants are clustered.">
                  info
                </mat-icon>
              </mat-card-title>
              <mat-card-content [ngClass]="'groups-container'">
                <div *ngFor="let group of pollResult.groups.list.slice(0, pollResult.groups.list.length - 2);" >
                  <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="clickGroup(group)">{{group.name}}</button>
                </div>

              </mat-card-content>
              <mat-card-content>
                <div>
                  <p [ngClass]="'opinion-group'">GROUP {{selectedGroup.name}}</p>
                  <p [ngClass]="'opinion-group-percentage'">{{selectedGroup.populationPercentage}}%</p>
                  <p [ngClass]="'opinion-group-text'">of participants belongs to Group {{selectedGroup.name}}</p>
                </div>
              </mat-card-content>
            </div>

            <div [ngClass]="'opinions-detail-container'">
              <mat-card-title>Participants</mat-card-title>
              <!-- <mat-card-content>{{pollResult.summary.participantCount}}</mat-card-content> -->
            </div>
          </mat-card>
        </div>

        <div [ngStyle]="{'margin-top': '30px'}">
          <mat-card [ngClass]="'mcq-container'"> 
            <div [ngClass]="'mcq-title-container'">
              <mat-card-title>
                Multiple choice questions
              </mat-card-title>
              <mat-card-content [ngClass]="'mcp-content-container'">
                <mat-form-field appearance="fill">
                  <mat-label>View by</mat-label>
                  <mat-select [(value)]="selectedMcqGroup">
                    <mat-option [value]="'All'">All</mat-option>
                    <mat-option *ngFor="let group of pollResult.groups.list.slice(0, pollResult.groups.list.length - 2);" [value]="group.name">
                      Group {{group.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                  <mat-label>Question</mat-label>
                  <mat-select [(value)]="selectedMcqQuestion">
                    <mat-option *ngFor="let question of pollResult.mcqGroupAnswer?.data" [value]="question.content">
                      {{question.content}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                
              </mat-card-content>
            </div>

          </mat-card>
        </div>

      </mat-tab>


      <mat-tab label="Poll Detail"> 
        <ng-template mat-tab-label>
          Poll Detail 
        </ng-template>

        <div [ngClass]="'pd-language'">
          <p>Poll Language *</p>
          <mat-form-field appearance="fill">
            <mat-select [(value)]="selectedPollLanguage">
              <mat-option value="en">English</mat-option>
              <mat-option value="vi">Vietnamese</mat-option>
              <mat-option value="id">Indonesian</mat-option>
              <mat-option value="zh">Chinese (Mandarin)</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div [ngClass]="''">
          <p>Poll Name *</p>
          <mat-form-field>
            <textarea
              matInput
              placeholder="This name will be displayed as the title of the poll when the url link of the poll is shared over social media. This name helps your internal team to distinguish this poll from other polls."
              maxlength="80"
              [(ngModel)]="pollResult.poll.title"
            >
            </textarea>
          </mat-form-field>
        </div>

        <div [ngClass]="''">
          <p>Poll Question *</p>
          <mat-form-field>
            <textarea
              matInput
              placeholder="The poll question will be central headline question and title on the oppi.live page.  It should be interesting enough to attract your participants’ attention and formulated in a way that invites insightful conversations about a particular issue."
              maxlength="255"
              [(ngModel)]="pollResult.poll.question"
            >
            </textarea>
          </mat-form-field>
        </div>
        
        <div [ngClass]="''">
          <p>Description *</p>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Provide context to your poll by answering the 5 Ws. Who you are? Why you are asking them to take this poll? What their contribution means? Where will this data go towards? When can they expect to see the results?
              Remember to credit your photos and videos appropriately here."
              maxlength="999"
              [(ngModel)]="pollResult.poll.description"
            >
            </textarea>
          </mat-form-field>
        </div>

        <div [ngClass]="''">
          <p>Poll Media *</p>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Please paste Youtube url here" [(ngModel)]="pollResult.poll.videoUrls && pollResult.poll.videoUrls[0]">
          </mat-form-field>
        </div>

        <div>
          <button (click)="savePollDetail()" mat-raised-button color="accent">Save</button>
        </div>
      </mat-tab>

      <mat-tab label="Multiple Choice Questions"> Multiple Choice Questions </mat-tab>
      <mat-tab label="Opinions Management"> Opinions Managemaaent </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>
</mat-sidenav-container>
