<app-header (toggleSidebarEvent)="toggleSidebar($event)" [sidebarOpened]="sidebarOpened"></app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="sidebarOpened" fullscreen>
    <div [ngClass]="sidebarRowHighlighted[0] ? 'sidenav-row sidenav-row-highlighted' : 'sidenav-row'" (click)="clickRow(1)">
      <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
      <p>Poll Management</p>
    </div>
    <div [ngClass]="sidebarRowHighlighted[1] ? 'sidenav-row sidenav-row-highlighted' : 'sidenav-row'" (click)="clickRow(2)">
      <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
      <p>Create Poll</p>
    </div>
    <div [ngClass]="sidebarRowHighlighted[2] ? 'sidenav-row sidenav-row-highlighted' : 'sidenav-row'" (click)="clickRow(3)">
      <mat-icon aria-hidden="false" aria-label="people icon">supervisor_account</mat-icon>
      <p>User Management</p>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>
