.sidenav-row {
  display: flex;
  align-items: center;
  color: rgb(116, 116, 116);
  font-family: 'Montserrat';
  cursor: pointer;

  .mat-icon {
    margin-left: 10px;
  }

  p {
    margin-left: 15px;
  }
}

.sidenav-row-highlighted {
  background-image: linear-gradient(to right, rgba(74, 144, 226, 0.3), rgba(237, 245, 252, 0.3));
  color: rgb(66, 179, 230);
}

.mat-sidenav-container {
  height: 93%;
}
.mat-sidenav {
  width: 230px;
}